<div class="card m-auto p-0" ">
    <div class=" card-header text-uppercase">
    <strong>{{tenMH}}</strong>
</div>
<div class="card-body " ng-repeat="ch in caccauhoi | limitTo: pageSize:start">
    <form name="frmAsw">
        <div class="mb-3 form-group mt-2">
            <h6>{{ch.Text}}</h6>
            <div class="card-text text-warning">Điểm: {{ch.Marks}}</div>
            <hr>
        </div>
        <div class=" form-group col-9">
            <div class="form-check form-check-inline mb-3 col-9" ng-repeat="pa in ch.Answers">
                <input class="form-check-input " type="radio" name="inlineRadioOptions" id="{{pa.id}}" ng-model=""
                    value="{{pa.Id}}" value="{{pa.Id}}">
                <label class="form-check-label" for="inlineRadio1">
                    {{pa.Text}}</label>
            </div>
        </div>
        <!--  -->
        <hr>
        <div class="d-flex justify-content-center mb-1">
            <button type="button" ng-click="back()" class="btn btn-primary mx-2 px-3">Quay lại</button>
            <button type="button" ng-click="next()" class="btn btn-primary mx-2 px-4">Kế tiếp</button>
        </div>
    </form>
</div>
<select class="form-select col-2 mb-2" size="1" aria-label="size 3 select example">
    <option ng-repeat="q in caccauhoi" value="" ng-m>
        {{q.Text}}
    </option>
</select>
<div class="card-footer text-danger "><b>BẤM QUA KẾ TIẾP ĐỂ LÀM</b></div>
</div>